    <!-- Container for sidebar(s) + page content position: fixed;width: 100%;   -->
<ng-sidebar-container style="height: 100vh;">

  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" [(mode)]="_mode" style="font-size: 16px;">
    <!-- Reunir tout le formulaire dans un Component -->
    <!-- <img class="img-responsive" src="assets/img/header.png" alt="VWT Header" /> -->
    <p style="border-bottom: 1px solid #222222; padding-bottom:5px; font-weight: 500; font-size: 1.1em;">EAI</p>
    <ul style="margin:0; padding:0;">
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/project']">Projects</a></li>
      <div *ngIf="isDisplay">
      <li><a [routerLink]="['/wiringPower', projectId]">Bilan des câbles de puissance</a></li>
      <li><a [routerLink]="['/wiringProtection', projectId]">Bilan des câbles de protection</a></li>
      <li><a [routerLink]="['/thermalDissipation', projectId]">Bilan Thermique</a></li>
      <li><a [routerLink]="['/commandProtection', projectId]">Bilan des commandes et protections</a></li>
      <li><a [routerLink]="['/motorStarter', projectId]">Bilan des départs moteurs</a></li>
      </div>
    </ul>
    <!-- <b><p style="border-bottom: 1px solid #222222; padding-bottom:5px;">EAI</p></b>
    <p style="font-weight: 1px">Liste Entrée</p>
    <p>Feuille de paramètres</p>
    <p>Feuille de saisie</p>
    <p>Liste équipement</p>
    <p>Bilan de Puissances</p>
    <p>Bilan des départs moteurs</p>
    <p>Bilan de câbles</p>
    <p>Bilan de chemin de câbles</p>
    <p>Bilan Thermique</p>
    <p>Bilan Protection/commande</p> -->
  </ng-sidebar>
  <!-- Page content -->
  <div ng-sidebar-content>
    <ng-content></ng-content>
  </div>

</ng-sidebar-container>