<div class="container">
  <h2>Wiring Protection Bilan</h2>
  <hr>
  <br>
  <button type="button" class="btn btn-primary" (click)="goToEquipList()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back To Equipments List</button>      
  <div class="space"></div>
  <table class="table table-striped table-hover">
      <thead class="thead-default">
        <tr>
          <th>Instrumentation Cable</th>
          <th>Number</th>
          <th>Quantity (m)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipment of cleanData">
          <td>{{ equipment.Instrumentation }}</td>
          <td>{{ equipment.Number }}</td>
          <td>{{ equipment.quantity }}</td>
        </tr>
      </tbody>
    </table>
</div>