.full {
    border: 1px solid black;
}

/* Separation entre chaque grand bloque de section de haut en bas */
.section-container {
    margin-top: 5px;
    border: 1px solid black;
}

/* Separation entre chaque petit bloque de la section de haut en bas */
.semi-section {
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Laisse une marge en bas de page */
.letmargin {
    margin-top: 10px;
}