<!-- As a link -->
<nav class="navbar navbar-light" style="background-color: #222222; opacity: 1 !important; border-top: 3px solid white; border-bottom : 3px solid #222222;">
        <div class="navbar-header page-scroll">
            <img class="img-responsive" src="assets/img/header.png" alt="VWT Header" width="260px;" routerLink="/"/>
        </div>
</nav>

        <!-- Navbar content -->
<!-- <nav class="navbar navbar-inverse bg-inverse" style="z-index: 10000; padding: 45px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="navbar-header page-scroll col-md-4">
                <img class="img-responsive" src="assets/img/header.png" alt="VWT Header" />
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</nav> -->

<!-- <img class="img-responsive" src="assets/img/header.png" alt="VWT Header" /> -->
