<div class="container">
  <h2>Thermal Dissipation</h2>
  <hr>
  <br>
  <button type="button" class="btn btn-primary" (click)="goToEquipList()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back To Equipments List</button>    
  <div class="space"></div>
  
  <table class="table table-striped table-hover">
      <thead class="thead-default">
        <tr>
          <th>Switchboard</th>
          <th>Heat Dissipation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipment of cleanData">
          <td>{{ equipment.SwitchBoard }}</td>
          <td>{{ equipment.HeatDissipation }}</td>
        </tr>
      </tbody>
    </table>
</div>